<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/adminHeader :: adminHeader"/>
</head>
<body>
<div th:replace="admin/fragments/manage-cafe :: manage-cafe"/>
</body>
</html>
<script>
    function deleteCafeByAdmin(cafeId) {
        if (confirm("정말 삭제하시겠습니까?")) {
            $.ajax({
                type: "DELETE",
                url: `/api/admin/cafes/${cafeId}`,
                data: {},
                success: function (response) {
                    alert(response)
                    location.reload(true);
                }
            })
        }
    }
</script>
