<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="eventDetail">
        <!--Event Detail-->
        <div id="eventDetailContainer" class="container">
            <!--Event Category, Name, Period-->
            <div class="event-detail-header" id="event-detail-header" th:action="@{'/events/' + ${event.id} + '/detail'}" th:object="${eventReadResponseDto}" method="post">
                <h5><span class="badge badge-secondary"><h5 th:text="|${eventReadResponseDto.getEventCategory()} |"> 이벤트 카테고리</h5></span></h5>
                <h1 class="fw-bolder" th:text="${eventReadResponseDto.getEventName()}">이벤트명</h1>
            </div>
            <hr>

            <!--Event First Image, Info-->
            <section class="event-detail-info" id="event-detail-info">
                <div class="row" id="event-detail-row1">
                    <div class="col-left">
                        <div class="card" id="event-card">
                            <div class="event-card-body" id="event-card-body">
                                <img class="card-img-top" id="event-card-img" th:src="@{${eventReadResponseDto.getEventImageUrls().get(0)}}" alt="..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-right">
                        <div class="card-info">
                            <div class="card-body">
                                <h4 style="font-weight: bold">이벤트 기간</h4>
                                <div class="event-detail-period">
                                    <div class="event-period">
                                        <h6><p th:text="${eventReadResponseDto.getEventStartDate()} + ' ~ ' + ${eventReadResponseDto.getEventEndDate()}"> 이벤트 시작일</p></h6>
                                    </div>
                                </div>
                                <br>
                                <div class="event-detail-information" id="event-detail-information">
                                    <h4 style="font-weight: bold">이벤트 소개</h4>
                                    <p id="card-text-info" class="card-text" th:text="${eventReadResponseDto.getEventInfo()}">이벤트 소개</p>
                                </div>
                                <!-- Update, Delete Button-->
                                <button th:if="${eventReadResponseDto.isCancel == true && userId != null && eventReadResponseDto.userNumber == userId}"
                                        class="btn btn-primary cafeBtn"
                                        data-target="#cancleModalCenter" data-toggle="modal" type="button">
                                    이벤트 취소
                                </button>
                                <button th:if="${userId != null && eventReadResponseDto.userNumber == userId}"
                                        class="btn btn-primary cafeBtn" data-target="#updateModalCenter" data-toggle="modal"
                                        type="button">
                                    이벤트 수정
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!--Cafe Map, name, address-->
                <div class="row">
                    <div class="col-left">
                        <div class="card">
                            <div class="card-body" id="card-cafe-detail">
                                <h5 class="event-detail-cafe-info">이벤트 카페 정보</h5>
                                <div id="cafeLocationInfo">
                                    <div id="staticMap" style="width:470px;height:350px; margin-top: 30px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-right">
                        <div class="card-info">
                            <div class="card-body">
                                <h5 class="fw-bolder" th:text="${eventReadResponseDto.getCafeName()}">카페 이름</h5>
                                <p class="card-text" th:text="${eventReadResponseDto.getCafeZonecode()}">카페 우편번호</p>
                                <p class="card-text" th:text="${eventReadResponseDto.getCafeAddress()}">카페 주소</p>
                                <p class="card-text" th:text="${eventReadResponseDto.getCafeAddressDetail()}">카페 상세주소</p>
                                <button type="button" class="btn btn-outline-dark" id="event-btn"
                                        th:onclick="|location.href='/cafes/${eventReadResponseDto.getCafeNumber()}/detail'|">
                                    카페 상세보기
                                </button>
                                <br>
                                <div class="map-info" id="map-info">
                                    <p style="float: bottom"><small>*지도를 클릭하면 kakao map으로 이동합니다.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>

            <!--Event Poster-->
            <section class="event-detail-poster">
                <div class="poster">
                    <h4 class="event-detail-poster-info">이벤트 포스터</h4>
                    <div class="card-img-poster" th:each="imageUrl : ${eventReadResponseDto.EventImageUrls}">
                        <img class="card-img-poster" id="event-img-poster" th:src="${imageUrl}" alt="..." />
                    </div>
                </div>
                <br>
            </section>
            <hr>
            <button type="button" class="btn btn-outline-dark" id="btn-top"><a href = "#" style="text-decoration-line: none;" > TOP ▴ </a></button>
            <br>
        </div>
    </div>
</html>