<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>

    <!--추가-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>
<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto 90px auto;
    }

    .form-group-event {
        width: 780px;
    }

    .container > div label {
        font-weight: bolder;
        font-size: large;
    }
</style>
<body>
    <script th:inline="javascript">
        let dates = [[${dates}]];
    </script>

    <!--DatePicker JS-->
    <script type="text/javascript" src="/js/event/eventCreate-datepicker.js">
    </script>
    <div th:replace="fragments/mainTop :: mainTop"></div>

    <!--TOP Banner-->
    <div class="topBanner">
        <div class="topFont">이벤트 예약하기</div>
    </div>

    <!--Event Reservation Form-->
    <div th:replace="event/fragments/event-create-form :: eventCreateForm"></div>
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>