<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>

<!--    추가-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>

<style>

    .fieldError {
        border-color: #bd2130;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-group-event {
        width: 780px;
    }

    .container > div label {
        font-weight: bolder;
        font-size: large;
    }

</style>
<script>
    let results = [];
    let weekends = 0;

    function startCal() {
        results = [];
        weekends = 0;
        getDatesStartToLast();
    }

    function getDatesStartToLast() {
        let startDate = document.getElementById('datePicker-start').value;
        let lastDate = document.getElementById('datePicker-end').value;
        let curDate = new Date(startDate);
        while (curDate <= new Date(lastDate)) {
            results.push(curDate.toISOString().split("T")[0]);
            curDate.setDate(curDate.getDate() + 1);
        }

        for (let index = 0; index < results.length; index++) {
            results[index] = results[index].replace(/-0+/g, '-')
        }

        let number = 0;
        for (let i = 0; i < results.length; i++) {
            if (dates.includes(results[i])) {
                number += 1;
            }
        }

        // 휴무일 및 예약된 날짜 포함 기간 설정 시
        if (number == 0) {
            findDate(results);
        } else {
            alert("휴무일 및 예약된 날짜가 포함되어있습니다!");
            $('#datePicker-start').focus();
            results = [];
        }
    }

    function findDate(results) {
        let week = ['일', '월', '화', '수', '목', '금', '토'];
        for (result of results) {
            let dayOfWeek = week[new Date(result).getDay()];
            if (dayOfWeek === week[0] || dayOfWeek === week[6]) {
                weekends += 1;     // 주말 날짜의 수만큼 증가
            }
        }

        $('#eventPeriod').text("  총 " +results.length+ " 일 : 평일 " + (results.length - weekends) + "일 + 주말 " + weekends + "일");
        getParams();
    }

    function getParams() {
        const curUrl = window.location.href;
        const url = new URL(curUrl);

        const urlParams = url.searchParams;

        let weekdayPrice = urlParams.get('weekdayPrice');
        let weekendPrice = urlParams.get('weekendPrice');

        $('#eventPrice').val(eventPrice(weekdayPrice, weekendPrice));
    }

    function eventPrice(weekdayPrice, weekendPrice) {
        let totalPrice = 0;
        let totalWeek = (results.length - weekends) * weekdayPrice;
        let totalWeekend = weekends * weekendPrice;
        totalPrice = totalWeek + totalWeekend;

        $('#eventTotalPrice').text("총 결제 금액 : " + totalWeek.toLocaleString() + "원 + " + totalWeekend.toLocaleString() + "원");
        return totalPrice.toString();
    }

</script>
<body>

<script th:inline="javascript">
    let dates = [[${dates}]];
</script>
<script type="text/javascript">
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년',
        beforeShowDay: disableSomeDay
    });

    // 제외할 날짜 (받아오기) - 휴무일, 예약된 날짜
    let disabledDays = dates;
    for (let index = 0; index < disabledDays.length; index++) {
        disabledDays[index] = disabledDays[index].replace(/-0+/g, '-')
    }
    console.log(disabledDays);

    // 이전 날짜들은 선택막기
    function noBefore(date){
        if (date < new Date())
            return [false];
        return [true];
    }

    // 날짜 선택을 막기위한 함수
    function disableSomeDay(date) {
        let dates = date.getDate();
        let month = date.getMonth();
        let year = date.getFullYear();

        for (let i = 0; i < disabledDays.length; i++) {
            if($.inArray(year + '-' + (month+1) + '-' + dates, disabledDays) !== -1) {
                return [false];
            }
        }
        return [true];
    }

    $(function() {
        $('#datePicker-start').datepicker();
        $('#datePicker-start').datepicker("option", "maxDate", $("#datePicker-end").val());
        $('#datePicker-start').datepicker("option", "onClose", function ( selectedDate ) {
            $("#datePicker-end").datepicker( "option", "minDate", selectedDate );
        });

        $('#datePicker-end').datepicker();
        $('#datePicker-end').datepicker("option", "minDate", $("#datePicker-start").val());
        $('#datePicker-end').datepicker("option", "onClose", function ( selectedDate ) {
            $("#datePicker-start").datepicker( "option", "maxDate", selectedDate );
        });
    });
</script>

    <div th:replace="fragments/mainTop :: mainTop"/>
    <div class="topBanner">
        <div class="topFont">이벤트 예약하기</div>
    </div>
    <!--    Event Reservation Form-->
    <div class="container">
        <form role="form" action="/events" th:object="${eventCreateRequestDto}" method="post" enctype="multipart/form-data">
            <div class="form-group-event">
                <br />
                <label th:for="eventCategory">이벤트 카테고리</label>
                <select th:field="*{eventCategory}" class="form-control">
                    <option value="">카테고리를 선택하세요.</option>
                    <option th:each="eventCategory : ${T(com.eventcafecloud.event.domain.type.EventCategory).values()}"
                            th:value="${eventCategory}"
                            th:text="${eventCategory}">option
                    </option>
                </select>
            </div>
            <br />
            <div class="form-group-event">
                <label th:for="evnetName">이벤트 이름</label>
                <input type="text" th:field="*{eventName}" class="form-control" placeholder="이벤트 이름을 입력하세요." required maxlength="24"
                       th:class="${#fields.hasErrors('eventName')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('eventName')}" th:errors="*{eventName}">이벤트명은 필수입니다.</p>
            </div>
            <br />
            <div class="form-group-event">
                <label th:for="eventInfo">이벤트 소개 및 정보</label>
                <textarea type="text" th:field="*{eventInfo}" class="form-control" rows="6" placeholder="이벤트 소개를 입력하세요." required></textarea>
            </div>
            <br />
            <label th:for="files">이벤트 대표 이미지 및 포스터</label>
            <br />
            <div>
                <p><small>* 이벤트 메인 이미지와 포스터를 업로드해 주세요.  * 2MB 이하의 파일을 선택해 주세요.</small></p>
                <input type="file" multiple="multiple" th:field="*{files}" name="imageFiles" required>
            </div>
            <br>
            <div class="form-group-event">
                <label th:for="eventStartDate">이벤트 기간</label>
                <div class="input-group">
                    <input id="datePicker-start" style="float: left; margin-right: 15px" type="text" th:field="*{eventStartDate}" class="form-control" placeholder="시작일" onchange="startCal()">
                    <input id="datePicker-end" style="float: right" type="text" th:field="*{eventEndDate}" class="form-control" placeholder="종료일" onchange="startCal()" >
                </div>
            </div>
            <br>
            <br />
            <div class="form-group-event">
                <label th:for="eventPrice">결제 정보</label>
                <hr>
                <p id="eventPeriod"><small>이벤트 기간</small></p>
                <p id="eventTotalPrice"><small>이벤트 금액</small></p>
                <input readonly id="eventPrice" name=eventPrice type="text" class="form-control" placeholder="결제하실 금액입니다.">
                <hr>
            </div>
            <div class="form-group-event">

            </div>
            <div class="form-group-event" HIDDEN>
                <label th:for="cafeNumber">카페 정보</label>
                <input type="text" id="cafeNumber" name="cafeNumber" th:value="${cafeId}" class="form-control">
            </div>
            <br />
            <button type="submit" class="btn btn-primary" style="float: right;"
                    th:data-confirm-create="|이벤트를 예약하시겠습니까?|" onclick="return confirm(this.getAttribute('data-confirm-create'))">이벤트 예약하기</button>
            <br>
        </form>
    </div>
</body>
</html>