<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <style>
        #eventListContainer{
            padding-top: 100px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
  <div id="eventListContainer" class="container">
    <div>
<!--        <div>-->
<!--            <form th:object="${eventSearch}" class="form-inline">-->
<!--                <div class="form-group mb-2">-->
<!--                    <input type="text" th:field="*{eventName}" class="form-control" placeholder="회원명"/>-->
<!--                </div>-->
<!--                <div class="form-group mx-sm-1 mb-2">-->
<!--                    <select th:field="*{eventCategory}" class="form-control">-->
<!--                        <option value="">카테고리를 선택하세요.</option>-->
<!--                        <option th:each="eventCategory : ${T(jpabook.jpashop.ec2.event.domain.type.EventCategory).values()}"-->
<!--                                th:value="${eventCategory}"-->
<!--                                th:text="${eventCategory}">option-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary mb-2">검색</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <div id="see-area">-->
<!--            <div class="pagination">-->
<!--                검색 :-->
<!--                <select id="sorting" onchange="showProduct()">-->
<!--                    <option value="eventName">이벤트명</option>-->
<!--                    <option value="eventStartDate">이벤트 시작일</option>-->
<!--                </select>-->
<!--                <input type="radio" name="isAsc" value="true" onchange="showProduct()" checked /> 오름차순-->
<!--                <input type="radio" name="isAsc" value="false" onchange="showProduct()" /> 내림차순-->
<!--            </div>-->
<!--            <div id="pagination" class="pagination"></div>-->
<!--            <ul id="product-container">-->
<!--            </ul>-->
<!--        </div>-->
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    <!-- 첫번째 아이템 -->
                    <div class="col mb-5" th:each="eventListResponseDto : ${eventListResponseDtos}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <!--                        <img class="card-img-top" th:src="@{${item.getImgPath()}}" alt="..." />-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name\-->

                                    <!-- Product price-->
                                    <h4><span class="badge badge-secondary"><p th:text="|${eventListResponseDto.getEventCategory()} |"> 이벤트 카테고리</p></span></h4>
                                    <h5 class="fw-bolder" th:text="${eventListResponseDto.getEventName()}">이벤트명</h5>
                                    <p th:text="|${eventListResponseDto.getEventStartDate()} |"> 이벤트 시작일</p>
                                    <p th:text="|&nbsp;&nbsp;&nbsp;&nbsp;~ ${eventListResponseDto.getEventEndDate()} |"> 이벤트 종료일</p>
                                    <button type="button" class="btn btn-outline-dark"><a href = "#" >이벤트 상세보기</a></button>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <!--                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
                            <!--                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/item/view/{id}(id=${item.getId()})}">상세보기</a></div>-->
                            <!--                        </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--        <div class="page">-->
            <!--            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
            <!--                <a th:if="${page != nowPage}" th:href="@{/item/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>-->
            <!--                <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>-->
            <!--            </th:block>-->
            <!--        </div>-->
        </section>
    </div>
  </div>

</div> <!-- /container -->

</body>
</html>
