<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>

    <!--Import CSS-->
    <Link rel="stylesheet" type="text/css" href="css/event.css">
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div class="topBanner">
    <div class="topFont">이벤트</div>
</div>
  <div id="eventListContainer" class="eventListcontainer">
    <div class="container-top">
        <div class="row">
            <div class="col">
                <select class="category-order-select" id="category-select">
                    <option selected>카테고리</option>
                    <option value="1">KPOP</option>
                    <option value="2">INFLUENCER</option>
                    <option value="3">ANNIMATION</option>
                    <option value="3">WEBTOON</option>
                    <option value="3">NOVEL</option>
                </select>
            </div>
            <div class="col">
                <select class="category-order-select" id="order-select">
                    <option selected>이벤트 시작일 순</option>
                    <option value="1">이벤트 시작일 순</option>
                    <option value="2">이벤트 이름 순</option>
                </select>
            </div>
            <div class="col">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
        <!-- Section-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <!-- First Event -->
                    <div class="col" th:each="eventListResponseDto : ${eventListResponseDtos}">
                        <div class="card">
                            <!-- Event image-->
                            <!--                        <img class="card-img-top" th:src="@{${item.getImgPath()}}" alt="..." />-->
                            <!-- Event List details-->
                            <div class="card-body ">
                                <div class="text">
                                    <!-- Event image, category, name, startdate, enddate -->
                                    <img class="card-img-top" th:src="@{${eventListResponseDto.getEventImageUrls().get(0)}}" alt="..." />
                                    <h5><span class="badge badge-secondary"><p th:text="|${eventListResponseDto.getEventCategory()} |"> 이벤트 카테고리</p></span></h5>
                                    <h4 class="title-event-bolder" th:text="${eventListResponseDto.getEventName()}">이벤트명</h4>

                                    <div class="date-start">
                                        <p th:text="${eventListResponseDto.getEventStartDate()} + ' ~ ' + ${eventListResponseDto.getEventEndDate()}"> 이벤트 기간</p>
                                    </div>
                                    <button type="button" class="btn btn-outline-dark">
                                        <a th:href = "@{/events/{eventNumber}/detail (eventNumber=${eventListResponseDto.getEventNumber()})}" >이벤트 상세보기</a></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--        <div class="page">-->
            <!--            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
            <!--                <a th:if="${page != nowPage}" th:href="@{/item/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>-->
            <!--                <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>-->
            <!--            </th:block>-->
            <!--        </div>-->
        </section>
    </div>
  </div>
</body>
</html>
