<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
    <div th:replace="fragments/mainTop :: mainTop"/>

    <!--TOP Banner-->
    <div class="topBanner">
        <div class="topFont">이벤트 페이지</div>
    </div>

    <!--Update & Delete Modal-->
    <div class="right-eventList">
        <div th:replace="event/fragments/event-updateModal :: eventUpdateModal"/>
    </div>

    <!--EventDetail-->
    <div class="eventList">
        <div th:replace="event/fragments/event-detail :: eventDetail"/>
    </div>
</body>

<script th:inline="javascript">
    let x = [[${eventReadResponseDto.getCafeX()}]];
    let y = [[${eventReadResponseDto.getCafeY()}]];
    let id = [[${eventReadResponseDto.getCafeNumber()}]];
</script>
<script src="/js/cafe/kakaoMapForDetail.js"></script>
</html>
