<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"></th:block>
    <th:block th:replace="fragments/mainHeader :: mainHeader"></th:block>
</head>

<body>
    <div th:replace="fragments/mainTop :: mainTop"></div>

    <!--TOP Banner-->
    <div class="topBanner">
        <div class="topFont">이벤트 페이지</div>
    </div>

    <!--Update & Delete Modal-->
    <div class="right-eventList">
        <div th:replace="event/fragments/event-updateModal :: eventUpdateModal"></div>
    </div>

    <!--EventDetail-->
    <div class="eventList">
        <div th:replace="event/fragments/event-detail :: eventDetail"></div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</body>
<script th:inline="javascript">
    let x = [[${eventReadResponseDto.getCafeX()}]];
    let y = [[${eventReadResponseDto.getCafeY()}]];
    let id = [[${eventReadResponseDto.getCafeNumber()}]];
</script>
<script src="/js/cafe/kakaoMapForDetail.js"></script>
</html>
