<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <link href="/css/card.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div>
    <div class="topBanner">
        <div class="topFont">마이페이지</div>
    </div>
    <div class="left">
        <div class="menuVar">
            <ul>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/info(id=${userId})}">내 프로필</a></li>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/reservation(id=${userId})}">예약내역</a></li>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/posts(id=${userId})}">내 작성글</a></li>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/bookmarks(id=${userId})}">내 북마크</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div th:replace="profile/fragments/bookmarks :: bookmarks"/>
    </div>
</div>
</body>
</html>
