<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div>
    <div class="topBanner">
        <div class="topFont">마이페이지</div>
    </div>
    <div class="left">
        <div class="menuVar">
            <ul>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/info(id=${userId})}">내 프로필</a></li>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/reservation(id=${userId})}">예약내역</a></li>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/posts(id=${userId})}">내 작성글</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div th:replace="profile/fragments/userInfo :: userInfo"/>
    </div>
</div>
</body>
</html>
<script>
    $("#file").on('change', function () {
        var fileName = $("#file").val();
        $(".upload-name").val(fileName);
    });

    function checkNick(e) {
        var nickName = $('#userNickname').val();
        $.ajax({
            url: "/user/exists",
            type: "GET",
            data: {nick: nickName},
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                if (result === false) {
                    $('.id_already').css("display", "none");
                    $('#updateProfile').submit()
                } else {
                    $('.id_already').css("display", "inline-block");
                    $('#userNickname').val('');
                }
            },
            error: function () {
                alert("에러입니다");
            }
        });
    }
</script>