<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div>
    <div class="topBanner">
        <div class="topFont">마이페이지</div>
    </div>
    <div class="left">
        <div class="menuVar">
            <ul>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/info(id=${userId})}">내 프로필</a></li>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/reservation(id=${userId})}">예약내역</a></li>
                <li><a class="menuVar-link" th:href="@{/users/profile/{id}/posts(id=${userId})}">내 작성글</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div th:replace="profile/fragments/reservation :: reservation"/>
    </div>
</div>
</body>
</html>
<script>
    let today = new Date();

    let year = today.getFullYear();
    let month = ('0' + (today.getMonth() + 1)).slice(-2);
    let day = ('0' + today.getDate()).slice(-2);

    let todayStr = year + '-' + month + '-' + day;

    const getDateDiff = (d1, d2) => {
        const date1 = new Date(d1);
        const date2 = new Date(d2);

        const diffDate = date1.getTime() - date2.getTime();

        return Math.abs(diffDate / (1000 * 60 * 60 * 24)); // 밀리세컨 * 초 * 분 * 시 = 일
    }
</script>