<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="inputFileName">input</Property>
        <Property name="outputFileName">output</Property>
        <Property name="consoleLayout">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red,
            ERROR=red,
            INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow}- %m%n -
        </Property>
        <Property name="fileLayout">[%d{yyyy-MM-dd HH:mm:ss, zzz}{GMT+9}] [%c{1}] [%L] [%p] : %m %n</Property>
    </Properties>

    <Appenders>

        <!-- console 패턴정의 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}"></PatternLayout>
        </Console>

        <!-- input 로그를 기록하기 위한 파일 패턴 및 정책 정의 -->
        <RollingFile name="inputFile" fileName="logs/${inputFileName}.log"
                     filePattern="logs/${inputFileName}.%d{yyyy-MM-dd-hh, zzz}{GMT+9}.log">
            <PatternLayout pattern="${fileLayout}"></PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"></TimeBasedTriggeringPolicy><!-- 시간별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"></DefaultRolloverStrategy>
        </RollingFile>


        <!-- output 로그를 기록하기 위한 파일 패턴 및 정책 정의 -->
        <RollingFile name="outputFile" fileName="logs/${outputFileName}.log"
                     filePattern="logs/${outputFileName}.%d{yyyy-MM-dd-hh}.log">
            <PatternLayout pattern="${fileLayout}"></PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="24"></TimeBasedTriggeringPolicy><!-- 시간별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"></DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <root level="info" additivity="false">
            <AppenderRef ref="console"></AppenderRef>
        </root>

        <!-- 스프링 프레임워크에서 찍는건 info / 콘솔만 설정 -->
        <logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </logger>

        <logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="inputFile"/>
            <AppenderRef ref="outputFile"/>
        </logger>

        <!-- input aspect 클래스 분리 / 콘솔과 input file 기록 -->
        <logger name="com.eventcafecloud.log4j.InputLogAspect" level="info" additivity="false">
            <AppenderRef ref="console"></AppenderRef>
            <AppenderRef ref="inputFile"></AppenderRef>
        </logger>

        <!-- output aspect 클래스 분리 / 콘솔과 output file 기록 -->
        <logger name="com.eventcafecloud.log4j.OutputLogAspect" level="info" additivity="false">
            <AppenderRef ref="console"></AppenderRef>
            <AppenderRef ref="outputFile"></AppenderRef>
        </logger>
    </Loggers>
</Configuration>