<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>EventCafeCloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jquery -->
    <script src="../../static/js/board.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
<div th:replace="fragments/mainTop :: mainTop"></div>

<form role="form" action="/post/save" th:object="${postCreateRequestDto}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label th:for="postTitle">게시글 제목</label>
        <input type="text" th:field="*{postTitle}" class="form-control" placeholder="제목을 입력하세요"
               th:class="${#fields.hasErrors('postTitle')}? 'form-control fieldError' : 'form-control'">
        <p th:if="${#fields.hasErrors('postTitle')}" th:errors="*{postTitle}"></p>
    </div>
    <div class="form-group">
        <label th:for="postContent">게시글 내용</label>
        <input type="text" th:field="*{postContent}" class="form-control" placeholder="내용을 입력하세요"
               th:class="${#fields.hasErrors('postContent')}? 'form-control fieldError' : 'form-control'">
        <p th:if="${#fields.hasErrors('postContent')}" th:errors="*{postContent}"></p>
    </div>
    <button type="submit" class="btn btn-primary" id="insert">저장하기</button>

    <a href="/post" class="btn btn-defalut">목록으로</a>
</form>

</body>
</html>