<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-6c4nX2tn5KbzeBJo9Ywpa0Gkt+mzCzJBrE1RB6fmpcsoN+b/w/euwIMuQKNyUoU/nToKN3a8SgNOtPrbW12fug=="
          crossorigin="anonymous"/>
    <style>
        .post-under {
            display: flex;
        }
    </style>
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"></div>
<div class="topBanner">
    <div class="topFont">게시판</div>
</div>
<div class="post-under">
    <div class="left">
        <div class="menuVar">
            <ul>
                <li><a class="menuVar-link" href="/posts/notice">공지게시판</a></li>
                <li><a class="menuVar-link" href="/posts">유저게시판</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="post-container">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>작성일자</th>
                </tr>
                </thead>
                <tbody id="post_box">
                <tr>
                    <td th:text="${post.id}"></td>
                    <td th:text="${post.postTitle}"></td>
                    <td th:text="${post.postCount}"></td>
                    <td th:text="${#temporals.format(post.createdDate,'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
            <div id="post-content-box">
                <td th:text="${post.postContent}" style="font-size: 30px;"></td>
            </div>
            <hr>
            <div id="submit-buttons">
                <a th:if="${userId != null && post.userId == userId}" th:href="@{/posts/update/{id}(id=${post.id})}"
                   class="btn btn-default">수정하기</a>
                <form id="delete-form" th:action="@{'/posts/' + ${post.id}}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button th:if="${userId != null && post.userId == userId}" class="btn btn-btn-danger"
                            id="delete-comment"
                            th:data-confirm-delete="|정말 삭제하시겠습니까?|"
                            onclick="return confirm(this.getAttribute('data-confirm-delete'))">삭제하기
                    </button>
                </form>
            </div>
            <hr>
            <div>
                <div id="comments-box">
                    <tr th:each="comment : ${comments}">
                        <img id="commentProfileImage" th:src="@{${comment.getUserImage()}}" alt="프로필사진">
                        <a id="commentNickname" th:text="${comment.userNickname}" style="margin-left: 20px;"></a>
                        <a id="commentContent" th:text="${comment.commentContent}" style="margin-left: 20px;"></a>
                        <a id="commentCreatedDate"
                           th:text="${#temporals.format(comment.createdDate,'yy.MM.dd HH:mm')}"></a>
                        <form id="deleteComment-form" th:action="@{'/'+ ${post.id} + '/comment/' + ${comment.id}}"
                              method="post">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button th:if="${userId != null && comment.userId == userId}" class="fa fa-trash"
                                    id="comment-delete" aria-hidden="true"
                                    th:data-confirm-delete="|정말 삭제하시겠습니까?|"
                                    onclick="return confirm(this.getAttribute('data-confirm-delete'))"></button>
                        </form>
                        <hr>
                    </tr>
                </div>
                <div>
                    <form role="form" th:action="@{/{postId}/comment/registration(postId=${post.id})}"
                          th:object="${commentCreateRequestDto}" method="post">
                        <div class="card mb-2">
                            <div class="card-header bg-light">
                                <i class="fa fa-comment fa"></i> REPLY
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label th:for="commentContent"></label>
                                        <textarea th:field="*{commentContent}"
                                                  placeholder="댓글 작성 시 타인에 대한 배려와 책임을 담아주세요." class="form-control"
                                                  id="exampleFormControlTextarea1" rows="3" style="resize: none;"
                                                  required maxlength="55"></textarea>
                                        <button th:if="${userId != null}" type="submit" class="btn btn-dark mt-3">작성
                                        </button>
                                        <button th:if="${userId == null}" type="button" class="btn btn-dark mt-3"
                                                onclick='alert("로그인 후 이용해주세요!")'>작성
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>