<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <script src="../../static/js/board.js"></script>
    <link rel="stylesheet" href="../../static/css/board.css">
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>

<div>
    <table>
        <tr>
        </tr>

    </table>
</div>
<div class="container">
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>번호</th>
            <th>글쓴이</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일자</th>
        </tr>
        </thead>
        <tbody id="post_box">
        <tr th:each="post : ${posts}">
            <td th:text="${post.getId()}"></td>
            <td th:text="${post.getPostContent()}"></td>
            <td th:text="${post.getPostTitle()}"></td>
            <td th:text="${post.getPostCount()}"></td>
            <td th:text="${#temporals.format(post.getCreatedDate(),'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div>
        <ul class="pagination justify-content-center">
            <li><a herf="#" class="text-secondary"> ◀ </a></li>
            <li><a herf="#" class="text-secondary"> 1 </a></li>
            <li><a herf="#" class="text-secondary"> 2 </a></li>
            <li><a herf="#" class="text-secondary"> 3 </a></li>
            <li><a herf="#" class="text-secondary"> 4 </a></li>
            <li><a herf="#" class="text-secondary"> ▶ </a></li>
        </ul>
    </div>

    <button class="post-button btn btn-outline-info float-right" onclick='alert("로그인 후 이용해주세요!")'>글쓰기</button>
    <button class="submit post-button btn btn-outline-info float-right" th:onclick="|location.href='@{/post/create}'|">글쓰기</button>
</div>
</body>
</html>