<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>게시글 목록</h1>
    </div>
    <div class="pull-right" style="width: 100px;margin: 10px 0;">
        <a href="/board" class="btn btn=primary btn-block">등록</a>
    </div>
    <br/><br/><br/>
    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="">글번호</th>
                <th class="">게시판 타입</th>
                <th class="">제목</th>
                <th class="">조회수</th>
                <th class="">작성일</th>
            </tr>
            </thead>
            <tr th:each="post : ${posts}">
                <td th:text="${post.getId()()}"></td>
                <td th:text="${post.getPostType()()}"></td>
                <td th:text="${post.getPostTitle()}"></td>
                <td th:text="${post.getPostCount()}"></td>
                <td th:text="${post.getcreatedDate()}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>