<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <ul class="footer-ul">
        <li class="footer-list">회원 약관</li>
        <li class="footer-list">개인정보처리방침</li>
        <li class="footer-list">Q&A</li>
    </ul>
    <ul class="footer-ul sns">
        <li>
            <div id="facebook">
                <i class="fa-brands fa-facebook"></i>
            </div>
        </li>
        <li>
            <div id="instagram">
                <i class="fa-brands fa-instagram"></i>
            </div>
        </li>
        <li>
            <div id="youtube">
                <i class="fa-brands fa-youtube"></i>
            </div>
        </li>
    </ul>
    <p>대표 전화 : 02-777-7777&nbsp; 대표자 : EventCafeCloud</p>
    <p>주소 : 서울특별시 강남구 역삼1동 논현로425</p>
    <p>Copyright &copy; 2022 EventCafeCloud. All rights reserved.</p>
</div>