<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mainTop">
    <ul class="nav">
        <a href="/">
            <img src="ec2logo.png" height="70">
        </a>
        <li class="nav-item">
            <a class="nav-link active" href="#">카페</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">이벤트</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #4C7A01">카페등록</a>
        </li>
    </ul>
    <div class="user_status">
        GUEST님 환영합니다
        <button class="submit" onclick="location.href='/login'">로그인</button>
    </div>
</div>

