<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="mainHeader">

    <!-- Webpage Title -->
    <title>EventCafeCloud</title>

    <!-- Import CSS -->
    <link rel="stylesheet" type="text/css" href="/css/mainTop.css">
    <link href="/css/myPage.css" rel="stylesheet" type="text/css">
    <link href="/css/myPosts.css" rel="stylesheet" type="text/css">
    <link href="/css/schedule.css" rel="stylesheet" type="text/css">
    <link href="/css/eventDetail.css" rel="stylesheet" type="text/css">
    <link href="/css/eventCreate.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <!-- Import JS -->
    <script src="/js/logout.js"></script>
    <script src="/js/cafe/cafeList.js"></script>
    <script src="/js/event/eventList.js"></script>
    <script src="/js/event/eventCreate.js"></script>
</head>