<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="mainTop" th:fragment="mainTop">
    <ul class="nav">
        <div onclick="location.href='/'">
            <img class="logo" height="70" src="/ec2logo.png">
        </div>
        <li class="nav-item">
            <a class="nav-link active" href="/cafes/allList">카페</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">이벤트</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/post">게시판</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cafes/registration" sec:authorize="hasRole('ROLE_HOST')" style="color: #4C7A01">카페등록</a>
            <a class="nav-link" href="/hosts/registration" sec:authorize="hasRole('ROLE_NORMAL')"
               style="color: #4C7A01">사업자등록</a>
        </li>
    </ul>
    <div class="user_status">
        <div th:if="${user == null}">
            GUEST님 환영합니다. &nbsp;
            <button class="submit" th:onclick="|location.href='@{/login}'|">로그인</button>
        </div>
        <div th:if="${user != null}">
            <div class="form-group" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a class="user-nick" th:href="@{/user/profile/{id}/info(id=${user.getId()})}"><p
                        style="display: inline-block" th:text="${user.getUserNickname()}"></p></a>&nbsp;님 환영합니다. &nbsp;&nbsp;
                <a class="admin-user" href="/admin/users">어드민페이지</a>
                <button class="submit_out" style="display:inline-block;" th:onclick="logout()">로그아웃</button>
            </div>
            <div class="form-group" th:if="${#authorization.expression('hasRole(''NORMAL'')')}">
                <a class="user-nick" th:href="@{/user/profile/{id}/info(id=${user.getId()})}"><p
                        style="display: inline-block" th:text="${user.getUserNickname()}"></p></a>님 환영합니다.
                <button class="submit_out" style="display:inline-block;" th:onclick="logout()">로그아웃</button>
            </div>
            <div class="form-group" th:if="${#authorization.expression('hasRole(''HOST'')')}">
                <a class="user-nick" th:href="@{/host/profile/{id}/info(id=${user.getId()})}"><p
                        style="display: inline-block" th:text="${user.getUserNickname()}"></p></a>&nbsp;호스트님 환영합니다.
                <button class="submit_out" style="display:inline-block;" th:onclick="logout()">로그아웃</button>
            </div>
        </div>
    </div>
</div>

