<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>

    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css"
          rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <script th:inline="javascript">
        let id = [[${cafeId}]];
        let dates = [[${dates}]];
    </script>
    <script type="text/javascript">
        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            minDate: 0,
            maxDate: new Date('2022-12-31'),
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년',
            beforeShowDay: disableSomeDay
        });

        // 제외할 날짜 (받아오기) - 휴무일, 예약된 날짜
        let disabledDays = dates;
        for (let index = 0; index < disabledDays.length; index++) {
            disabledDays[index] = disabledDays[index].replace(/-0+/g, '-')
        }

        // 날짜 선택을 막기위한 함수
        function disableSomeDay(date) {
            let dates = date.getDate();
            let month = date.getMonth();
            let year = date.getFullYear();

            for (let i = 0; i < disabledDays.length; i++) {
                if ($.inArray(year + '-' + (month + 1) + '-' + dates, disabledDays) !== -1) {
                    return [false];
                }
            }
            return [true];
        }

        $(function () {
            $('#datePicker-start').datepicker();
            $('#datePicker-start').datepicker("option", "maxDate", $("#datePicker-end").val());
            $('#datePicker-start').datepicker("option", "onClose", function (selectedDate) {
                $("#datePicker-end").datepicker("option", "minDate", selectedDate);
            });

            $('#datePicker-end').datepicker();
            $('#datePicker-end').datepicker("option", "minDate", $("#datePicker-start").val());
            $('#datePicker-end').datepicker("option", "onClose", function (selectedDate) {
                $("#datePicker-start").datepicker("option", "maxDate", selectedDate);
            });
        });
    </script>
    <style>
        #ui-datepicker-div {
            z-index: 1056 !important;
        }
    </style>
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div class="topBanner">
    <div class="topFont" th:text="${cafeName}">호스트페이지</div>
</div>
<div class="left">
    <div class="menuVar">
        <ul>
            <li><a class="menuVar-link" th:href="@{/hosts/profile/{id}/info(id=${userId})}">내 프로필</a></li>
            <li><a class="menuVar-link" th:href="@{/hosts/profile/{id}/host/posts(id=${userId})}">내 작성글</a></li>
            <li><a class="menuVar-link" th:href="@{/hosts/profile/{id}/cafes(id=${userId})}">내 카페목록</a></li>
            <li><a class="menuVar-link" th:href="@{/hosts/profile/{id}/host/bookmarks(id=${userId})}">북마크(카페)</a></li>
            <li><a class="menuVar-link" th:href="@{/hosts/profile/{id}/host/event/bookmarks(id=${userId})}">북마크(이벤트)</a>
            </li>
        </ul>
    </div>
</div>

<div class="right">
    <div class="calendar-box" id='calendar-container'>
        <div id='calendar'></div>
    </div>
    <div class="right-eventList">
        <div th:replace="profile-host/fragments/reservation :: reservation"/>
    </div>
    <div class="right-schedule">
        <div th:replace="profile-host/fragments/schedule :: schedule"/>
    </div>
</div>
</body>
<script src="/js/cafe/calenderApi.js"></script>
</html>
