<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="certificationBox" th:fragment="registerHostForm">
    <form action="/api/hosts/registration" enctype="multipart/form-data" method="post" role="form"
          th:object="${hostUserCreateRequestDto}">
        <div class="form-group">
            <p class="nameTag">회원 이메일</p>
            <input class="form-control" id="userEmail" name="userEmail" readonly th:value="${Email}" type="text">
        </div>
        <hr>
        <ul>
            <div>
                <p class="nameTag">사업자등록증</p>
                <input class="form-control inputForm" placeholder="사업자 등록증" th:field="*{certificationFile}" type="text">
                <!--            <input type="file" th:field="*{certificationFile}" name="attachFile">-->
            </div>
        </ul>
        <div class="warning-box">
            <p>📌 정확한 정보를 등록했는지 다시 한 번 확인해주세요</p>
            <p>📌 추후, 사업자 정보가 수정된다면 반드시 온라인 상담을 통해 변경 내용을 알려주세야 합니다.</p>
            <p>📌 사업자 등록증을 확인 후, HOST 가입이 승인되면 카페 등록 서비스를 이용 하실 수 있습니다.</p>
        </div>
        <div class="button-box">
            <button class="btn btn-primary cafeBtn-center" type="submit">등록하기</button>
        </div>
    </form>
</div>