body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

div.left {
    background-color: #774B00;
    width: 15%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
}

div.right {
    width: 85%;
    height: 100vh;
    float: right;
    box-sizing: border-box;
}

.menuVar {
    text-align: center;
    padding: 50px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    color: white;
}

li a .Pr {
    font-size: 10px;
    color: #2b2a29;
}

li .disabled {
    font-size: 10px;
    color: #2b2a29;
}

li a {
    float: right;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    display: block;
    color: white;
    font-weight: bold;
}

li a:hover {
    background: #774B00;
    text-decoration: none;
    color: white;
}

.profileBox {
    margin: auto;
    text-align: center;
    border-radius: 2%;
    width: 80%;
    padding-bottom: 20px;
    background-color: #F5F5DC;
}

.profile-form {
    padding-top: 20px;
}

.bbsOrReply {
    margin-bottom: 10px;
}

form {
    display: inline;
}

.pass-button {
    background-color: #4C7A01;
    color: white;
    border: none;
    font-size: 15px;
}

.option-search {
    margin-bottom: 10px;
}

.fail-button {
    background-color: #ff4040;
    color: white;
    border: none;
    font-size: 15px;
}

.page {
    text-align: center;
}

.pagination {
    margin-left: 45%;
}

.page-number {
    background-color: white;
    margin-left: 5px;
    border: none;
    color: #2b2a29;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

.card-header {
    text-align: left;
    font-size: 20px;
    color: dimgrey;
}

