.post-button {
    background-color: #4C7A01;
    color : #FFFFFF !important;
    float: right;
    border-radius: 10px;
}

#commentProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    object-fit: cover;
}

#commentNickname {
    font-weight: bold;
}

#commentContent {
    font-size: 17px;
}

#commentCreatedDate {
    font-size: 19px;
    float: right;
}

#submit-buttons {
    margin-left: 85%;
    display: flex;
    margin-bottom: 20px;
}

#comment-box {
    margin-top: 20px;
}

.btn-btn-danger {
    background-color: #ff4040;
    color : #FFFFFF;
    margin-left : 20px;
    font-weight: bold;
}

.btn-default {
    background-color: #4C7A01;
    color : #FFFFFF !important;
    font-weight: bold;
}

.btn-dark {
    margin-left: 95%;
    font-weight: bold;
}

#post-content-box {
    font-size: 23px;
    word-break: break-word;
    white-space: pre-line;
}

#comments-box {
    word-break: break-word;
}

#comment-delete {
    float: right;
    border: white;
}

.title-bar {
    text-align: left;
    padding-left: 50px !important;
}

#comments-count {
    color: #4376f3;
    font-weight: bold;
    font-size: 14px;
}