#bodyTop .carousel-inner .carousel-item img {
    height: 550px;
}

/* 카페 리스트 페이지*/
#cafeListContainer {
    width: 100%;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#cafeListContainer .card div figure .card-img-top {
    height: 180px;
}

#searchBox{
    margin: 30px auto 10px;
    width: 50%;
}

.filter {
    font-size: 14px;
    margin: 20px auto 0;
    width: 65%;
    text-align: right;
    display: flex;
    justify-content: end;
}

/* cards */
#title {
    color: #2b2a29;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}

#subTitle {
    color: #9B9B9B;
    margin: 0px;
}

#price {
    float: right;
    background-color: #774B00;
    color: #F5F5DC;
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 25px;
    font-family: 'Cute Font', cursive;
}

#priceDetail {
    margin: 0px;
    padding-left: 10px;
}

#pagination {
    margin-top: 100px;
    justify-content: center;
    width: 100%;
    display: flex;
}

#cafeBox {
    width: 70%;
    margin: auto;
}

#cafeTop5 {
    width: 80%;
    margin: auto;
}

.card {
    margin: 10px;
    width: 300px;
    height: 300px;
}

.top5box {
    background-color: #F5F5DC;
}

.top5box .top5name {
    float: left;
    font-weight: bold;
    font-size: 30px;
    color: #4C7A01;
    margin-top: 20px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.cafeMore {
    float: right;
    border: 0px;
    outline: 0px;
    background-color: #4C7A01;
    padding: 5px;
    color: white;
}


/* Event Top 5 */
#eventListContainer {
    width: 100%;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#eventListContainer .card div figure .card-img-top {
    height: 180px;
}

#eventTop5 {
    width: 80%;
    margin: auto;
}

#card-event-top5 {
    margin: 20px;
    width: 300px;
    height: 330px;
}

#badge-cate {
    float: right;
    background-color: #774B00;
    color: #F5F5DC;
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-top: 0;
    border-radius: 25px;
    font-family: 'Cute Font', cursive;
}

#title-event-top5 {
    color: #2b2a29;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.eventMore {
    float: right;
    border: 0;
    outline: 0;
    background-color: #4C7A01;
    padding: 5px;
    color: white;
}