 /*container top*/
.container-top {
    margin: 20px 250px 15px;
}

#category-select {
    height: 38px;
    width: 100%;
}

#input-search {
    height: 38px;
    width: 78%;
    border-color: #2b2a29;
}

#btn-search {
    height: 38px;
    width: 17%;
}

#btn-search:hover {
    background-color: #4C7A01;
}

.form-control {
    width: 260px;
}

.py-5 {
    padding-top: 0;
}

#section-list {
    padding-top: 15px;

}


/*container*/
#event-form-container {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 15px;
    width: 300px;
    height: 490px;
}

.card-img-top {
    height: 265px;
    margin-bottom: 10px;
}

.badge {
    height: 28px;
    width: 110px;
}

#title-event-bolder {
    margin: 10px 0px 10px 0px;
}

.date-start {
    float:left;
}

.date-end {
    float: right;
}

#btn-list:hover {
    background-color: #4C7A01;
}
