#eventListContainer{
    padding-top: 10px;
}


 /*container top*/
.container-top {
    margin: 10px 250px 10px;

}

#category-select {
    height: 38px;
    width: 100%;
}

#input-search {
    height: 38px;
    width: 80%;
}

#btn-search {
    height: 38px;
    width: 17%;
}

.form-control {
    width: 260px;
}


/*container*/
#event-form-container {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 15px;
    width: 300px;
    height: 450px;
}

.card-img-top {
    height: 250px;
    margin-bottom: 10px;
}

.badge {
    height: 28px;
    width: 110px;
}

.title-event-bolder {
    margin: 10px 0px 10px 0px;
}

.date-start {
    float:left;
}

.date-end {
    float: right;
}

.btn {
    float: right;
}
