#event-comments {
    margin-top: 40px;
}

#event-comments .comment-input-box {
    display: flex;
    margin-top: 20px;
}

#event-comments .comment-input-box .textarea-box {
    width: 80%;
}

#event-comments .comment-input-box .button-box {
    margin-left: 20px;
    text-align: center;
    height: 63px;
    width: 250px;
    border: none;
    background-color: #4C7A01;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

#event-comments .comment-input-box .button-box button {
    padding: 15px;
    text-align: center;
    margin-left: 20px;
    height: 63px;
    width: 250px;
    border: none;
    background-color: #4C7A01;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/* 작성된 리뷰 */

#comment-list-container .comment-container {
    display: flex;
    margin: 20px 0 5px 0;
}

#comment-list-container .comment-container .user-img img {
    width: 110px;
    height: 110px;
    border-radius: 10%;
    object-fit: cover;
}

#comment-list-container .comment-container .comment-info {
    padding: 0 20px;
    width: 70%;
}

#comment-list-container .comment-container .comment-info-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#comment-list-container .comment-container .comment-info-top .comment-username {
    font-weight: bold;
    font-size: 20px;
}

#comment-list-container .comment-container .comment-info-middle {
    margin: 20px 0;
}

#comment-list-container .comment-container .comment-info-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#comment-list-container .comment-container .comment-delete .del button {
    width: 50px;
    border: none;
    height: 30px;
    background-color: #ff4040;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#pagination {
    margin-top: 50px;
    justify-content: center;
    width: 100%;
    display: flex;
}