.mainTop {
    height: 90px;
}

.admin-user {
    font-weight: bold;
    color: darkorange;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.admin-user:visited {
    color: darkorange;
}

.nav {
    float: left;
    font-size: 25px;
}

.nave-link {
    font-size: 25px;
}

.user_status {
}

.nav-item {
    padding: 20px;
    font-size: 28px;
}

a:link {
    color: black
}

a:visited {
    color: black
}

.user_status {
    float: right;
    padding: 25px;
    font-size: 15px;
}

.submit {
    font-size: 15px;
    border: none;
    margin-left: 10px;
    padding: 5px 10px;
    width: 65px;
    background-color: #4C7A01;
    margin-bottom: 5px;
    color: white;
}

.logo {
    height: 85px;
    cursor: pointer;
}

.submit_out {
    font-size: 15px;
    border: none;
    margin-left: 10px;
    padding: 5px 10px;
    width: 80px;
    background-color: #4C7A01;
    margin-bottom: 5px;
    color: white;
}

.user-nick {
    font-weight: bold;
    font-size: 17px;
    border-bottom: darkorange;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}