.post-form {
    padding-top: 20px;
}

.postBox {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.posts-box {
    width: 100%;
}

.post-content {
    margin-bottom: 10px;
    width: 70%;
    float: left;
    padding: 5px 30px 10px 30px;
    background-color: #F5F5DC;
    color: #2b2a29;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    border-bottom: 1px solid #9B9B9B;
}

.event-cafe {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #4C7A01;
    border-right: 10px;
}

.post-comment {
    float: right;
    font-weight: bold;
}

.post-comment {
    float: right;
    font-weight: bold;
}

.post-day {
    float: left;
    margin-right: 10px;
    color: #9B9B9B;
}

.post-info {
    float: left;
}

.post-count {
    float: left;
    color: #9B9B9B;
}

/* 내카페 */

#cafeImage {
    width: 300px;
    height: 200px;
    padding: 5px;
    background-color: white;
}

.cafe-left {
    width: 40%;
    float: left;
}

.cafe-right {
    width: 60%;
    float: left;
    padding: 15px;
}

.cafe-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0px;
    display: inline-block;
}

.cafe-info {
    font-size: 20px;
    color: #999999;
}

.cafe-address {
    margin-bottom: 0px;
}

.cafe-time {
    display: inline-block;
    margin-bottom: 0px;
}

.cafe-button {
    cursor: pointer;
    display: inline-block;
    float: right;
}

.manage-button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #4C7A01;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
}

.button-set {
    float: right;
    width: 30%;
}

.modify-button {
    cursor: pointer;
    float: right;
    margin-left: 10px;
    display: inline-block;
    border: none;
    color: white;
    background-color: darkorange;
    padding: 5px;
    font-size: 15px;
}

.delete-button {
    margin-left: 10px;
    cursor: pointer;
    float: right;
    display: inline-block;
    border: none;
    color: white;
    background-color: #bd2130;
    padding: 5px;
    font-size: 15px;
}

.cafe-rating {
    display: inline-block;
    padding-left: 10px;
}