.btn-primary {
    background-color: #4C7A01;
    color : #FFFFFF !important;
    border-color: white;
}

#edit-buttons {
    display: inline-block;
    float: right;
    margin-right: 30%;
    margin-top : 10px;
}

#update-content-box {
    margin-top: 3%;
}

#create-content-box{
    margin-top: 3%;
}