/*eventList*/
#eventlist-card .card-body .card-body-bottom {
    margin-top: 50px;
}

#eventlist-card .card-body .card-body-bottom #cmt-count {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bolder;
}

#cmt-count .fa-bookmark {
    margin-left: 5px;
    color: goldenrod;
}

#event-pagination {
    justify-content: center;
    padding-right: 0;
    width: 100%;
}

.page-number {
    background-color: white;
    margin-left: 5px;
    border: none;
    color: #2b2a29;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}