<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="cafeBookmarks">
    <div class="post-form">
        <div class="postBox">
            <div id="cafeBox">
                <div class="cafeListContainerListPage" id="cafeListContainer">
                    <h1 th:text="'총 '+${bookmarks.getTotalElements()}+'개의 북마크 목록이 있습니다.'"></h1>
                    <hr width="70%">
                    <div class="card" th:each="bookmark : ${bookmarks}"
                         th:onclick="|location.href='@{/cafes/{id}/detail (id=${bookmark.cafeId})}'|">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img alt="Placeholder image" class="card-img-top" th:src="${bookmark.cafeImgUrl}">
                            </figure>
                        </div>
                        <div class="card-content" id="card-content">
                            <p class="title is-4" id="title" th:text="${bookmark.cafeName}">카페이름</p>
                            <p class="subtitle is-6" id="subTitle" th:text="${bookmark.cafeInfo}">한줄소개</p>
                            <div id="card-content-bottom">
                                <div>
                                    <i class="fa-regular fa-comment"></i>&nbsp;<p style="display: inline-block"
                                                                                  th:text="${bookmark.cafeReviewCount}"></p>
                                    <i class="fa-regular fa-bookmark"></i>&nbsp;&nbsp;<p style="display: inline-block"
                                                                                         th:text="${bookmark.cafeBookmarkCount}"></p>
                                </div>
                                <div id="price">
                                    <p th:text="'₩'+ ${#numbers.formatInteger(bookmark.CafeWeekdayPrice, 3, 'COMMA')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="page" style="text-align: center;">
            <ul class="pagination"
                th:with="start=${T(java.lang.Math).floor(bookmarks.number/10)*10 + 1},
                    last=(${start + 9 < bookmarks.totalPages ? start + 9 : bookmarks.totalPages})">
                <li>
                    <a aria-label="First" class="page-number"
                       th:href="@{/hosts/profile/{userId}/bookmarks(page=1, userId=${userId})}">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>
                <li th:class="${bookmarks.first} ? 'disabled'">
                    <a aria-label="Previous" class="page-number"
                       th:href="${bookmarks.first} ? '#' :@{/hosts/profile/{userId}/bookmarks(page=${bookmarks.number}, userId=${userId})}">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:class="${page == bookmarks.number + 1} ? 'active'"
                    th:each="page: ${#numbers.sequence(start, last)}">
                    <a class="page-number"
                       th:href="@{/hosts/profile/{userId}/bookmarks(page=${page}, userId=${userId})}"
                       th:text="${page}"></a>
                </li>

                <li th:class="${bookmarks.last} ? 'disabled'">
                    <a aria-label="Next" class="page-number"
                       th:href="${bookmarks.last} ? '#' : @{/hosts/profile/{userId}/bookmarks(page=${posts.number + 2}, userId=${userId})}">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li>
                    <a aria-label="Last" class="page-number"
                       th:href="@{/hosts/profile/{userId}/bookmarks(page=${bookmarks.totalPages}, userId=${userId})}">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

