<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <!--  paging  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <!--  card css  -->
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <script>
        $(document).ready(function () {
            getCafeList();
        });
    </script>
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div class="topBanner">
    <div class="topFont">카페</div>
</div>
<section>
    <div id="searchBox" class="input-group mb-3">
        <input type="text" class="form-control" placeholder="이름으로 검색">
        <button class="btn btn-success" type="submit" onclick="getCafeList()">검색</button>
    </div>
    <div class="filter">
        <span style="font-size: medium">정렬</span> : &nbsp;
        <select id="sorting" onchange="getCafeList()">
            <option value="createdDateDesc">-선택-</option>
            <option value="priceDesc">높은 가격순</option>
            <option value="priceAsc">낮은 가격순</option>
        </select>
    </div>
    <div id="cafeBox">
        <div id="cafeListContainer"></div>
    </div>
    <div id="pagination" class="cafeListPagePagination"></div>
</section>
</body>
</html>