<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <!--  paging  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <!--  card css  -->
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <script>
        $(document).ready(function(){
            getCafeList();
        });
    </script>
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div class="topBanner">
    <div class="topFont">카페</div>
</div>

<div id="cafeListContainer"></div>

<div id="pagination" class="pagination"></div>
</body>
</html>