<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"/>
    <th:block th:replace="fragments/mainHeader :: mainHeader"/>
    <link rel="stylesheet" type="text/css" href="/css/cafeCreateForm.css">
<!--    <style>-->
<!--        #cafeContainer{-->
<!--            padding-top: 100px;-->
<!--        }-->
<!--        #cafeOptionCheckBox{-->
<!--            border: solid lightgray 1px ;-->
<!--            padding: 3px 0 3px 10px;-->
<!--        }-->
<!--        .form-check-label{-->
<!--            padding-left: 20px;-->
<!--        }-->
<!--        #submitButton{-->
<!--            text-align: center;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div th:replace="fragments/mainTop :: mainTop"/>
<div class="topBanner">
    <div class="topFont">카페 수정</div>
</div>
<div id="cafeContainer" class="container">
    <form role="form" th:action="@{/cafes/{id}(id=${cafeId})}" th:object="${cafeUpdateRequestDto}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label th:for="cafeName">카페 이름</label>
            <input type="text" th:field="*{cafeName}" class="form-control" placeholder="카페 이름을 입력하세요" maxlength="15"
                   th:class="${#fields.hasErrors('cafeName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('cafeName')}" th:errors="*{cafeName}">Incorrect date</p>
        </div>
        <div class="form-group-cafe">
            <label th:for="cafeInfo">한줄 소개</label>
            <input type="text" th:field="*{cafeInfo}" class="form-control" placeholder="한줄 소개를 입력하세요" maxlength="20"
                   th:class="${#fields.hasErrors('cafeInfo')}? 'form-control fieldError' : 'form-control'">
            <p style="color: #ff4040" th:if="${#fields.hasErrors('cafeInfo')}" th:errors="*{cafeInfo}">Incorrect data</p>
        </div>
        <div class="form-group-cafe">
            <label th:for="cafeInfoDetail">상세 소개</label>
            <textarea type="text" th:field="*{cafeInfoDetail}" class="form-control" placeholder="상세 소개를 입력하세요" maxlength="100"
                      th:class="${#fields.hasErrors('cafeInfoDetail')}? 'form-control fieldError' : 'form-control'"></textarea>
            <p style="color: #ff4040" th:if="${#fields.hasErrors('cafeInfoDetail')}" th:errors="*{cafeInfoDetail}">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="cafeOpenTime">영업 시작 시간
                <select class="form-select form-select-sm mt-3" th:field="*{cafeOpenTime}">
                    <option name="cafeOpenTime" value="00:00">00:00</option>
                    <option name="cafeOpenTime" value="06:00">06:00</option>
                    <option name="cafeOpenTime" value="07:00">07:00</option>
                    <option name="cafeOpenTime" value="08:00">08:00</option>
                    <option name="cafeOpenTime" value="09:00">09:00</option>
                    <option name="cafeOpenTime" value="10:00">10:00</option>
                    <option name="cafeOpenTime" value="11:00">11:00</option>
                    <option name="cafeOpenTime" value="12:00">12:00</option>
                    <option name="cafeOpenTime" value="13:00">13:00</option>
                    <option name="cafeOpenTime" value="14:00">14:00</option>
                    <option name="cafeOpenTime" value="15:00">15:00</option>
                    <option name="cafeOpenTime" value="16:00">16:00</option>
                    <option name="cafeOpenTime" value="17:00">17:00</option>
                    <option name="cafeOpenTime" value="18:00">18:00</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label th:for="cafeCloseTime">영업 종료 시간
                <select class="form-select form-select-sm mt-3" th:field="*{cafeCloseTime}">
                    <option name="cafeCloseTime" value="24:00">24:00</option>
                    <option name="cafeCloseTime" value="23:00">23:00</option>
                    <option name="cafeCloseTime" value="22:00">22:00</option>
                    <option name="cafeCloseTime" value="21:00">21:00</option>
                    <option name="cafeCloseTime" value="20:00">20:00</option>
                    <option name="cafeCloseTime" value="19:00">19:00</option>
                    <option name="cafeCloseTime" value="18:00">18:00</option>
                </select>
            </label>
        </div>
        <div class="form-group-cafe">
            <label th:for="cafePrecaution">주의 사항</label>
            <textarea type="text" th:field="*{cafePrecaution}" class="form-control" placeholder="주의사항을 입력하세요" maxlength="100"
                      th:class="${#fields.hasErrors('cafePrecaution')}? 'form-control fieldError' : 'form-control'"></textarea>
            <p style="color: #ff4040" th:if="${#fields.hasErrors('cafePrecaution')}" th:errors="*{cafePrecaution}">Incorrect data</p>
        </div>
        <div>
            <label th:for="options">사용 가능 옵션을 체크해 주세요</label> <small style="color: red"> * 변동 사항이 있는 경우에만 체크해 주세요 </small>
            <div id="cafeOptionCheckBox" class="form-check" th:field="*{cafeOptions}">
                <label class="form-check-label"><input type="checkbox" class="form-check-input" name="cafeOptions" value="PARK"> 주차 가능 &nbsp;</label>
                <label class="form-check-label"><input type="checkbox" class="form-check-input" name="cafeOptions" value="FOOD"> 음식물 반입 가능 &nbsp;</label>
                <label class="form-check-label"><input type="checkbox" class="form-check-input" name="cafeOptions" value="WIFI"> WIFI &nbsp;</label>
                <label class="form-check-label"><input type="checkbox" class="form-check-input" name="cafeOptions" value="NOSMOKE"> 금연 &nbsp;</label>
                <label class="form-check-label"><input type="checkbox" class="form-check-input" name="cafeOptions" value="PROJECTOR"> 프로젝터 &nbsp;</label>
            </div>
        </div>
        <br/>
        <div class="form-group-cafe">
            <label th:for="city">주소</label>
            <!-- Button to Open the Modal -->
            <button type="button" id="address-register-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">주소 등록</button>
            <input type="text" id="zonecode" th:field="*{cafeZonecode}" class="form-control" hidden>
            <input type="text" id="address" th:field="*{cafeAddress}" class="form-control" placeholder="주소" readonly>
            <input type="text" id="addressDetail" th:field="*{cafeAddressDetail}" class="form-control" placeholder="상세 주소" maxlength="25"
                   th:class="${#fields.hasErrors('cafeAddressDetail')}? 'form-control fieldError' : 'form-control'">
            <p style="color: #ff4040" th:if="${#fields.hasErrors('cafeAddressDetail')}" th:errors="*{cafeAddressDetail}">Incorrect data</p>
            <input type="text" id="cafeY" th:field="*{cafeY}" class="form-control" hidden>
            <input type="text" id="cafeX" th:field="*{cafeX}" class="form-control" hidden>
        </div>
        <div class="form-group-cafe">
            <label th:for="cafeWeekdayPrice">평일 가격</label>
            <input type="text" th:field="*{cafeWeekdayPrice}" class="form-control" placeholder="평일 가격을 입력하세요" maxlength="7"
                   th:class="${#fields.hasErrors('cafeWeekdayPrice')}? 'form-control fieldError' : 'form-control'">
            <p style="color: #ff4040" th:if="${#fields.hasErrors('cafeWeekdayPrice')}" th:errors="*{cafeWeekdayPrice}">Incorrect date</p>
        </div>
        <div class="form-group-cafe">
            <label th:for="cafeWeekendPrice">주말 가격</label>
            <input type="text" th:field="*{cafeWeekendPrice}" class="form-control" placeholder="주말 가격 입력하세요" maxlength="7"
                   th:class="${#fields.hasErrors('cafeWeekendPrice')}? 'form-control fieldError' : 'form-control'">
            <p style="color: #ff4040" th:if="${#fields.hasErrors('cafeWeekendPrice')}" th:errors="*{cafeWeekendPrice}">Incorrect date</p>
        </div>
        <br/>
        <div>
            카페 이미지를 업로드.<small style="color: red"> * 변동 사항이 있는 경우에만 선택해 주세요 </small> <br />
            <small>* Ctrl 클릭으로 여러장 선택, 파일당 용량 제한: 3MB, 전체 용량 제한: 12MB</small><br />
            <input type="file" multiple="multiple" th:field="*{files}" name="imageFiles">
        </div>
        <div id="submitButton">
            <button type="submit" class="btn btn-primary">수정 완료</button>
        </div>
    </form>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">주소 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="text" id="modal-address" placeholder="주소">
                    <input type="button" onclick="execDaumPostcode()" value="주소 검색"><br>
                </div>
                <div id="map" style="width:100%;height:350px; display: none">map</div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
                    <button type="button" onclick="getAddressInfo()" class="btn btn-primary" data-bs-dismiss="modal">주소 등록</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>
<div th:replace="fragments/footer :: footer"/>
<script src="/js/cafe/kakaoMapForRegistration.js"></script>
</body>
</html>