<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="manage-host">
    <div>
        <div onclick="location.href='/'">
            <img class="logo" src="/ec2logo.png" style="width: 15%">
        </div>
        <div class="left">
            <div class="menuVar">
                <ul>
                    <li><a class="menuVar-link" href="/admin/users">회원 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/hosts">호스트 승인</a></li>
                    <li><a class="menuVar-link" href="/admin/cafes">카페 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/events">이벤트 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/posts">게시글 관리</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <h1 class="admin-h1" th:text="'총 '+${hosts.getTotalElements()}+'개의 신청내역이 있습니다.'"></h1>
            <div class="profileBox">
                <div class="card mb-4">
                    <div class="card-header">
                        호스트관리
                    </div>
                    <div class="card-body">
                        <form method="GET">
                            <div class="option-search">
                                <div style="display: flex; margin-left: auto;">
                                    <select class="ApproveType" id="approveType" th:name="approveType">
                                        <option value="">전체</option>
                                        <option value="WAITING">승인대기</option>
                                        <option value="PASS">승인완료</option>
                                        <option value="FAIL">승인거절</option>
                                    </select> &nbsp;
                                    <button class="btn btn-outline-success my-2 my-sm-0" id="btn-search" type="submit">
                                        검색
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="userTable">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>회원이메일</th>
                                    <th>사업자등록증</th>
                                    <th>신청일</th>
                                    <th>상태</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr th:each="host: ${hosts}">
                                    <td th:text="${host.getHost_user_number()}"></td>
                                    <td th:text="${host.getUserEmail()}"></td>
                                    <td th:text="${host.getCertificationFile()}"></td>
                                    <td th:text="${#temporals.format(host.getCreated_date(),'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${host.getIsApprove().getDisplayName()}"></td>
                                    <td>
                                        <div th:if="${host.getIsApprove().getDisplayName().equals('승인대기')}">
                                            <form method="post"
                                                  th:action="@{/admin/hosts/{id}/pass(id=${host.getUser_number()})}">
                                                <button class="pass-button" type="submit">승인</button>
                                            </form>
                                            <form method="post"
                                                  th:action="@{/admin/hosts/{id}/fail(id=${host.getHost_user_number()})}">
                                                <button class="fail-button" type="submit">거절</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <nav class="page" style="text-align: center;">
                            <ul class="pagination"
                                th:with="start=${T(java.lang.Math).floor(hosts.number/10)*10 + 1},
                    last=(${start + 9 < hosts.totalPages ? start + 9 : hosts.totalPages})">
                                <li>
                                    <a aria-label="First" class="page-number"
                                       th:href="@{/admin/hosts(page=1)}">
                                        <span aria-hidden="true">First</span>
                                    </a>
                                </li>
                                <li th:class="${hosts.first} ? 'disabled'">
                                    <a aria-label="Previous" class="page-number"
                                       th:href="${hosts.first} ? '#' :@{/admin/hosts}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:class="${page == hosts.number + 1} ? 'active'"
                                    th:each="page: ${#numbers.sequence(start, last)}">
                                    <a class="page-number"
                                       th:href="@{/admin/hosts(page=${page})}"
                                       th:text="${page}"></a>
                                </li>

                                <li th:class="${hosts.last} ? 'disabled'">
                                    <a aria-label="Next" class="page-number"
                                       th:href="${hosts.last} ? '#' : @{/admin/hosts(page=${hosts.number + 2})}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-label="Last" class="page-number"
                                       th:href="@{/admin/hosts(page=${hosts.totalPages})}">
                                        <span aria-hidden="true">Last</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>