<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="manage-user">
    <div>
        <div onclick="location.href='/'">
            <img class="logo" src="/ec2logo.png" style="width: 15%">
        </div>
        <div class="left">
            <div class="menuVar">
                <ul>
                    <li><a class="menuVar-link" href="/admin/users">회원 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/hosts">호스트 승인</a></li>
                    <li><a class="menuVar-link" href="/admin/cafes">카페 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/events">이벤트 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/posts">게시글 관리</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="profileBox">
                <div class="card mb-4">
                    <div class="card-header">
                        회원관리
                    </div>
                    <div class="card-body">
                        <div class="option-search">
                            <div style="display: flex; margin-left: auto;">
                                <select class="bbsOrReply">
                                    <option value="">--회원--</option>
                                    <option value="normal">일반</option>
                                    <option value="quit">호스트</option>
                                    <option value="quit">관리자</option>
                                </select> &nbsp;
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="userTable">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>회원이메일</th>
                                    <th>이름</th>
                                    <th>가입경로</th>
                                    <th>가입일</th>
                                    <th>수정일</th>
                                    <th>권한</th>
                                    <th>상태</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tr th:each="user: ${users}">
                                    <td id="number" th:text="${user.getUserNumber}"></td>
                                    <td th:text="${user.getUserEmail}"></td>
                                    <td th:text="${user.getUserNickname}"></td>
                                    <td th:text="${user.getUserRegPath}"></td>
                                    <td th:text="${#temporals.format(user.getCreatedDate,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${#temporals.format(user.getModifiedDate,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${user.getRole}"></td>
                                    <td th:text="${user.getStatus}"></td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <form enctype="multipart/form-data"
                                              method="post"
                                              th:action="@{/admin/users/{id}/update(id=${user.getUserNumber()})}"
                                              th:object="${userRequestDto}">
                                            <button class="pass-button" data-target="#exampleModalCenter"
                                                    data-toggle="modal"
                                                    type="button">
                                                수정
                                            </button>
                                            <!-- Modal -->
                                            <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle"
                                                 class="modal fade"
                                                 id="exampleModalCenter"
                                                 role="dialog" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                                회원수정</h5>
                                                            <button aria-label="Close" class="close"
                                                                    data-dismiss="modal"
                                                                    type="button">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                           for="userRole">회원권한</label>
                                                                </div>
                                                                <select class="custom-select" id="userRole"
                                                                        th:field="*{role}">
                                                                    <option th:value="ROLE_NORMAL">일반회원</option>
                                                                    <option th:value="ROLE_ADMIN">관리자</option>
                                                                </select>
                                                            </div>
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text"
                                                                           for="userStatus">회원상태</label>
                                                                </div>
                                                                <select class="custom-select" id="userStatus"
                                                                        th:field="*{userStatus}">
                                                                    <option th:value="STATUS_ACTIVATE">정상</option>
                                                                    <option th:value="STATUS_BLOCKED">신고정지</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="fail-button" data-dismiss="modal"
                                                                    type="button">
                                                                취소
                                                            </button>
                                                            <button class="pass-button" type="submit">확인</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ssk900620@gmail.com</td>
                                    <td>김메구</td>
                                    <td>구글</td>
                                    <td>2020/07/12</td>
                                    <td>2022/06/20</td>
                                    <td>HOST</td>
                                    <td>정상</td>
                                    <td>
                                        <button class="pass-button" type="submit">수정</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div class="page" id="page">
                                <button class="page-number"><</button>
                                <button class="page-number">1</button>
                                <button class="page-number">2</button>
                                <button class="page-number">3</button>
                                <button class="page-number">></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>