<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="manage-event">
    <div>
        <div onclick="location.href='/'">
            <img class="logo" src="/ec2logo.png" style="width: 15%">
        </div>
        <div class="left">
            <div class="menuVar">
                <ul>
                    <li><a class="menuVar-link" href="/admin/users">회원 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/hosts">호스트 승인</a></li>
                    <li><a class="menuVar-link" href="/admin/cafes">카페 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/events">이벤트 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/posts">게시글 관리</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <h1 class="admin-h1" th:text="'총 '+${events.getTotalElements()}+'개의 이벤트가 등록되었습니다.'"></h1>
            <div class="profileBox">
                <div class="card mb-4">
                    <div class="card-header">
                        이벤트 관리
                    </div>
                    <div class="card-body">
                        <form method="GET">
                            <div class="option-search">
                                <div style="display: flex; margin-left: auto;">
                                    <select class="category" id="category" th:name="eventCategory">
                                        <option value="">전체</option>
                                        <option value="KPOP">K-POP</option>
                                        <option value="INFLUENCER">INFLUENCER</option>
                                        <option value="ANIMATION">ANIMATION</option>
                                        <option value="WEBTOON">WEBTOON</option>
                                        <option value="NOVEL">NOVEL</option>
                                    </select> &nbsp;
                                    <button class="btn btn-outline-success my-2 my-sm-0" id="btn-search" type="submit">
                                        검색
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="userTable">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>카테고리</th>
                                    <th>이벤트이름</th>
                                    <th>이벤트시작일</th>
                                    <th>이벤트종료일</th>
                                    <th>결제금액</th>
                                    <th>취소여부</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tr th:each="event: ${events}">
                                    <td th:text="${event.getId}"></td>
                                    <td th:text="${event.getEventCategory}"></td>
                                    <td th:text="${event.getEventName}"></td>
                                    <td th:text="${event.getEventStartDate}"></td>
                                    <td th:text="${event.getEventEndDate}"></td>
                                    <td th:text="${event.getEventPrice}"></td>
                                    <td th:if="${event.getEventCancelAvail}==true" th:text="가능"></td>
                                    <td th:if="${event.getEventCancelAvail}==false" th:text="불가"></td>
                                    <td>
                                        <form id="delete-form" method="post"
                                              th:action="@{'/admin/events/'+${event.getId}+'/delete'}">
                                            <input name="_method" type="hidden" value="DELETE"/>
                                            <button class="fail-button"
                                                    onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                                                    th:data-confirm-delete="|정말 삭제하시겠습니까?|"
                                                    th:if="${event.getEventCancelAvail==true}">삭제
                                            </button>
                                            <button class="fail-button"
                                                    onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                                                    th:data-confirm-delete="|이벤트 시작일이 가깝습니다. 정말 삭제하시겠습니까?|"
                                                    th:if="${event.getEventCancelAvail==false}">강제삭제
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <nav class="page" style="text-align: center;">
                            <ul class="pagination"
                                th:with="start=${T(java.lang.Math).floor(events.number/10)*10 + 1},
                    last=(${start + 9 < events.totalPages ? start + 9 : events.totalPages})">
                                <li>
                                    <a aria-label="First" class="page-number" th:href="@{/admin/events(page=1)}">
                                        <span aria-hidden="true">First</span>
                                    </a>
                                </li>

                                <li th:class="${events.first} ? 'disabled'">
                                    <a aria-label="Previous" class="page-number"
                                       th:href="${events.first} ? '#' :@{/admin/events(page=${events.number})}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:class="${page == events.number + 1} ? 'active'"
                                    th:each="page: ${#numbers.sequence(start, last)}">
                                    <a class="page-number" th:href="@{/admin/events(page=${page})}"
                                       th:text="${page}"></a>
                                </li>

                                <li th:class="${events.last} ? 'disabled'">
                                    <a aria-label="Next" class="page-number"
                                       th:href="${events.last} ? '#' : @{/admin/events(page=${events.number + 2})}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>

                                <li>
                                    <a aria-label="Last" class="page-number"
                                       th:href="@{/admin/events(page=${events.totalPages})}">
                                        <span aria-hidden="true">Last</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>