<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="manage-post">
    <div>
        <div onclick="location.href='/'">
            <img class="logo" src="/ec2logo.png" style="width: 15%">
        </div>
        <div class="left">
            <div class="menuVar">
                <ul>
                    <li><a class="menuVar-link" href="/admin/users">회원 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/hosts">호스트 승인</a></li>
                    <li><a class="menuVar-link" href="/admin/cafes">카페 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/events">이벤트 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/posts">게시글 관리</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <h1 class="admin-h1" th:text="'총 '+${posts.getTotalElements()}+'개의 게시글이 등록되었습니다.'"></h1>
            <div class="profileBox">
                <div class="card mb-4">
                    <div class="card-header">
                        게시글관리
                    </div>
                    <div class="card-body">
                        <form method="GET">
                            <div class="option-search">
                                <div style="display: flex; margin-left: auto;">
                                    <select class="postType" id="postType" th:name="postType">
                                        <option value="">전체</option>
                                        <option value="NOTICE">공지글</option>
                                        <option value="USERPOST">자유글</option>
                                    </select> &nbsp;
                                    <button class="btn btn-outline-success my-2 my-sm-0" id="btn-search" type="submit">
                                        검색
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="userTable">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>카테고리</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성자이메일</th>
                                    <th>등록일</th>
                                    <th>수정일</th>
                                    <th>조회수</th>
                                    <th>글 내용</th>
                                </tr>
                                </thead>
                                <tr th:each="post: ${posts}">
                                    <td id="number" th:text="${post.getId}"></td>
                                    <td th:text="${post.getPostType}"></td>
                                    <td th:text="${post.getPostTitle}"></td>
                                    <td th:text="${post.getUser.getUserNickname}"></td>
                                    <td th:text="${post.getUser.getUserEmail}"></td>
                                    <td th:text="${#temporals.format(post.getCreatedDate,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${#temporals.format(post.getModifiedDate,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${post.getPostCount}"></td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <form enctype="multipart/form-data"
                                              method="post"
                                              th:action="@{/admin/posts/{id}/update(id=${post.getId})}"
                                              th:object="${PostStatusUpdateRequestDto}">
                                            <button class="pass-button" data-target="#exampleModalCenter"
                                                    data-toggle="modal"
                                                    type="button">
                                                확인
                                            </button>
                                            <!-- Modal -->
                                            <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle"
                                                 class="modal fade"
                                                 id="exampleModalCenter"
                                                 role="dialog" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                                게시글관리</h5>
                                                            <button aria-label="Close" class="close"
                                                                    data-dismiss="modal"
                                                                    type="button">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group-prepend">
                                                                    <label>내용</label>
                                                                    <div th:text="${post.getPostContent}"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="fail-button" data-dismiss="modal"
                                                                    type="button">
                                                                취소
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <nav class="page" style="text-align: center;">
                            <ul class="pagination"
                                th:with="start=${T(java.lang.Math).floor(posts.number/10)*10 + 1},
                    last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages})">
                                <li>
                                    <a aria-label="First" class="page-number"
                                       th:href="@{/admin/posts(page=1)}">
                                        <span aria-hidden="true">First</span>
                                    </a>
                                </li>
                                <li th:class="${posts.first} ? 'disabled'">
                                    <a aria-label="Previous" class="page-number"
                                       th:href="${posts.first} ? '#' :@{/admin/posts(page=${posts.number})}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:class="${page == posts.number + 1} ? 'active'"
                                    th:each="page: ${#numbers.sequence(start, last)}">
                                    <a class="page-number" th:href="@{/admin/posts(page=${page})}"
                                       th:text="${page}"></a>
                                </li>

                                <li th:class="${posts.last} ? 'disabled'">
                                    <a aria-label="Next" class="page-number"
                                       th:href="${posts.last} ? '#' : @{/admin/posts(page=${posts.number + 2})}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-label="Last" class="page-number"
                                       th:href="@{/admin/posts(page=${posts.totalPages})}">
                                        <span aria-hidden="true">Last</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>