<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="manage-user">
    <div>
        <div onclick="location.href='/'">
            <img class="logo" src="/ec2logo.png" style="width: 15%">
        </div>
        <div class="left">
            <div class="menuVar">
                <ul>
                    <li><a class="menuVar-link" href="/admin/users">회원 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/hosts">호스트 승인</a></li>
                    <li><a class="menuVar-link" href="/admin/cafes">카페 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/events">이벤트 관리</a></li>
                    <li><a class="menuVar-link" href="/admin/posts">게시글 관리</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <h1 class="admin-h1" th:text="'총 '+${users.getTotalElements()}+'명의 회원이 있습니다.'"></h1>
            <div class="profileBox">
                <div class="card mb-4">
                    <div class="card-header">
                        회원관리
                    </div>
                    <div class="card-body">
                        <form method="GET">
                            <div class="option-search">
                                <div style="display: flex; margin-left: auto;">
                                    <select class="userRoleType" id="userRoleType" th:name="roleType">
                                        <option selected="NORMAL" value="NORMAL">일반회원</option>
                                        <option value="HOST">호스트</option>
                                        <option value="ADMIN">관리자</option>
                                    </select> &nbsp;
                                    <button class="btn btn-outline-success my-2 my-sm-0" id="btn-search" type="submit">
                                        검색
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="userTable">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>회원이메일</th>
                                    <th>이름</th>
                                    <th>가입경로</th>
                                    <th>가입일</th>
                                    <th>수정일</th>
                                    <th>권한</th>
                                    <th>상태</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tr th:each="user: ${users}">
                                    <td th:text="${user.getUserNumber}"></td>
                                    <td th:text="${user.getUserEmail}"></td>
                                    <td th:text="${user.getUserNickname}"></td>
                                    <td th:text="${user.getUserRegPath}"></td>
                                    <td th:text="${#temporals.format(user.getCreatedDate,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${#temporals.format(user.getModifiedDate,'yyyy-MM-dd HH:mm')}"></td>
                                    <td th:text="${user.getRole.getDisplayName}"></td>
                                    <td th:text="${user.getStatus.getDisplayName}"></td>
                                    <td>
                                        <button class="pass-button" data-toggle="modal"
                                                th:data-target="'#'+${user.getUserNumber}" type="button">
                                            수정
                                        </button>
                                        <div th:replace="admin/fragments/manageUserModal :: manageUserModal(userId=${user.getUserNumber})"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <nav class="page" style="text-align: center;">
                            <ul class="pagination"
                                th:with="start=${T(java.lang.Math).floor(users.number/10)*10 + 1},
                    last=(${start + 9 < users.totalPages ? start + 9 : users.totalPages})">
                                <li>
                                    <a aria-label="First" class="page-number"
                                       th:href="@{/admin/users(page=1)}">
                                        <span aria-hidden="true">First</span>
                                    </a>
                                </li>
                                <li th:class="${users.first} ? 'disabled'">
                                    <a aria-label="Previous" class="page-number"
                                       th:href="${users.first} ? '#' :@{/admin/users}">
                                        <span aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:class="${page == users.number + 1} ? 'active'"
                                    th:each="page: ${#numbers.sequence(start, last)}">
                                    <a class="page-number"
                                       th:href="@{/admin/users(page=${page})}"
                                       th:text="${page}"></a>
                                </li>

                                <li th:class="${users.last} ? 'disabled'">
                                    <a aria-label="Next" class="page-number"
                                       th:href="${users.last} ? '#' : @{/admin/users(page=${users.number + 2})}">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li>
                                    <a aria-label="Last" class="page-number"
                                       th:href="@{/admin/users(page=${users.totalPages})}">
                                        <span aria-hidden="true">Last</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>